body {
    background-image: url("../img/gaming-pattern.png");
    background-repeat: repeat;
}

#banner {
    background: #ddd;
    padding: 40px;
}

#content {
    margin-top: 50px;
    margin-bottom: 50px;
    /* background-color: #ddd;
    min-height: 400px; 
    min-width: 400px; */
}

.match {
    border: 1px solid #ddd;
    padding: 30px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    margin: 10px 0;
}

.label {
    padding: 5px;
}